@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
	Layout = null;
	string currentController = ViewContext.RouteData.Values["controller"] as string;
	string currentAction = ViewContext.RouteData.Values["action"] as string;
	string currentArea = ViewContext.RouteData.Values["area"] as string;
}
<!DOCTYPE html>
<html lang="zxx">
<head>
	<!-- Meta Tag -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name='copyright' content=''>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Title Tag  -->
	<title>EcoX Shop</title>
	<!-- Favicon -->
	<link rel="icon" type="image/png" href="~/template/EcoXShopLogoIcon.png">
	<!-- Web Font -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.8/datatables.min.css" rel="stylesheet">
	<!-- StyleSheet -->
	<!-- Bootstrap -->
	<link rel="stylesheet" href="~/template/css/bootstrap.css">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="~/template/css/magnific-popup.min.css">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="~/template/css/font-awesome.css">
	<!-- Fancybox -->
	<link rel="stylesheet" href="~/template/css/jquery.fancybox.min.css">
	<!-- Themify Icons -->
	<link rel="stylesheet" href="~/template/css/themify-icons.css">
	<!-- Nice Select CSS -->
	<link rel="stylesheet" href="~/template/css/niceselect.css">
	<!-- Animate CSS -->
	<link rel="stylesheet" href="~/template/css/animate.css">
	<!-- Flex Slider CSS -->
	<link rel="stylesheet" href="~/template/css/flex-slider.min.css">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="~/template/css/owl-carousel.css">
	<!-- Slicknav -->
	<link rel="stylesheet" href="~/template/css/slicknav.min.css">

	<!-- Eshop StyleSheet -->
	<link rel="stylesheet" href="~/template/css/reset.css">
	<link rel="stylesheet" href="~/template/style.css">
	<link rel="stylesheet" href="~/template/css/responsive.css">
	
	
	@RenderSection("Scripts", required:false)

</head>
<body class="js">

	<!-- Preloader -->
	<div class="preloader">
		<div class="preloader-inner">
			<div class="preloader-icon">
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
	<!-- End Preloader -->
	<!-- Header -->
	<header class="header shop">
		<!-- Topbar -->
		<div class="topbar">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-12 col-12">
					</div>
					<div class="col-lg-8 col-md-12 col-12">
						<!-- Top Right -->
						<div class="right-content">
							<ul class="list-main">
								<partial name="_LoginPartial" />
							</ul>
							@*<ul class="list-main">

								<li>
									<i class="ti-user"></i> <a href="#">Benim Hesabım</a>
				
								</li>
								<li><i class="ti-power-off"></i><a asp-area="Identity" asp-page="/Account/Login" id="loginLink">Giriş Yap</a></li>
							</ul>*@
						</div>
						<!-- End Top Right -->
					</div>
				</div>
			</div>
		</div>
		<!-- End Topbar -->
		<div class="middle-inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 col-md-2 col-12">
						<!-- Logo -->
						<div class="logo">
							<a asp-area="" asp-controller="Customer" asp-action="Index"><img src="~/template/EcoXShopLogo.png" alt="EcoXShop Logo" ></a>
						</div>
						<!--/ End Logo -->
						<!-- Search Form -->
						<div class="search-top">
							<div class="top-search"><a href="#0"><i class="ti-search"></i></a></div>
							<!-- Search Form -->
							<div class="search-top">
								<form class="search-form">
									<input type="text" placeholder="Search here..." name="search">
									<button value="search" type="submit"><i class="ti-search"></i></button>
								</form>
							</div>
							<!--/ End Search Form -->
						</div>
						<!--/ End Search Form -->
						<div class="mobile-nav"></div>
					</div>
					<div class="col-lg-8 col-md-7 col-12">
						<div class="search-bar-top">
							<div class="search-bar">

								<form action="/Customer/Customer/Search" method="post">
									<input name="q" placeholder="Ürünleri Buradan Ara..." type="text">
									<button class="btnn" type="submit"><i class="ti-search"></i></button>
								</form>
								
								@*<select>
									
									<option selected="selected">Arama</option>
									
				
								</select>*@
								
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-3 col-12">
						<div class="right-bar">
							<!-- Search Form -->
@* 							<div class="sinlge-bar">
								<a href="#" class="single-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
							</div> *@
							<div class="sinlge-bar">
								@if (User.Identity.IsAuthenticated)
								{
									<a asp-area="Identity" asp-page="/Account/Manage/Index" class="single-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
								}
								else
								{
									<a asp-area="Identity" asp-page="/Account/Login" class="single-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
								}
								
							</div>
							<div class="sinlge-bar shopping">
								@if (User.Identity.IsAuthenticated)
								{
									<a asp-area="Customer" asp-controller="Cart" asp-action="Index" class="single-icon">
										<i class="ti-bag"></i> <span class="total-count">
											@{
												var count = HttpContextAccessor.HttpContext.Session.GetInt32(Diger.ssShoppingCart);
												if (User.Identity.IsAuthenticated && count != null)
												{
													@count
												}
												else
												{
													@(0)
												}
											}
										</span>
									</a>

								}
								else
								{
									<a asp-area="Identity" asp-page="/Account/Login" class="single-icon">
										<i class="ti-bag"></i> <span class="total-count">
											@{
												var count = HttpContextAccessor.HttpContext.Session.GetInt32(Diger.ssShoppingCart);
												if (User.Identity.IsAuthenticated && count != null)
												{
													@count
												}
												else
												{
													@(0)
												}
											}
										</span>
									</a>

								}
								
							</div>


@* 							<div class="sinlge-bar shopping">
								<a href="#" class="single-icon"><i class="ti-bag"></i> <span class="total-count">2</span></a>
								<!-- Shopping Item -->
								<div class="shopping-item">
									<div class="dropdown-cart-header">
										<span>2 Items</span>
										<a href="#">View Cart</a>
									</div>
									<ul class="shopping-list">
										<li>
											<a href="#" class="remove" title="Remove this item"><i class="fa fa-remove"></i></a>
											<a class="cart-img" href="#"><img src="https://via.placeholder.com/70x70" alt="#"></a>
											<h4><a href="#">Woman Ring</a></h4>
											<p class="quantity">1x - <span class="amount">$99.00</span></p>
										</li>
										<li>
											<a href="#" class="remove" title="Remove this item"><i class="fa fa-remove"></i></a>
											<a class="cart-img" href="#"><img src="https://via.placeholder.com/70x70" alt="#"></a>
											<h4><a href="#">Woman Necklace</a></h4>
											<p class="quantity">1x - <span class="amount">$35.00</span></p>
										</li>
									</ul>
									<div class="bottom">
										<div class="total">
											<span>Total</span>
											<span class="total-amount">$134.00</span>
										</div>
										<a href="checkout.html" class="btn animate">Checkout</a>
									</div>
								</div>
								<!--/ End Shopping Item -->
							</div> *@
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Header Inner -->
		<div class="header-inner">
			<div class="container">
				<div class="cat-nav-head">
					<div class="row">
						
						<div class="col-lg-9 col-12">
							<div class="menu-area">
								<!-- Main Menu -->
								<nav class="navbar navbar-expand-lg">
									<div class="navbar-collapse">
										<div class="nav-inner">
											<ul class="nav main-menu menu navbar-nav">
												@* <li class="active"><a href="#">Home</a></li> *@
												<li class="@(string.Equals(currentController, "Customer") && string.Equals(currentAction, "Index") ? "active" : "")">
													<a asp-area="Customer" asp-controller="Customer" asp-action="Index">Anasayfa</a>
												</li >
												<li><a asp-area="Customer" asp-controller="Customer" asp-action="Index">Ürünler</a></li>
												@* <li><a href="#">Product</a></li>
												<li><a href="#">Service</a></li> *@
												<li >
													@if (User.IsInRole(Diger.Role_Admin))
													{
														<a  href="#">Admin Paneli</a>
														<ul class="dropdown">
															<li >
																<a class="dropdown" asp-area="Admin" asp-controller="Category" asp-action="Index">Kategoriler</a></li>
															<li>
																<a class="dropdown" asp-area="Admin" asp-controller="User" asp-action="Index">Kullanıcılar</a></li>
															<li>
																<a class="dropdown" asp-area="Admin" asp-controller="Product" asp-action="Index">Ürünler</a></li>
															<li>
																<a class="dropdown" asp-area="Admin" asp-controller="Order" asp-action="Index">Siparişler</a></li>
														</ul>
													}
													else if (User.Identity.IsAuthenticated)
													{
													<li class="@(string.Equals(currentArea, "Admin") && string.Equals(currentController, "Order") && string.Equals(currentAction, "Index") ? "active" : "")">
														<a asp-area="Admin" asp-controller="Order" asp-action="Index">Siparişler</a>
													</li>
													}
													

												<li/>
												@* <li><a href="#">Pages</a></li>
												<li>
													<a href="#">Blog<i class="ti-angle-down"></i></a>
													<ul class="dropdown">
														<li><a href="blog-single-sidebar.html">Blog Single Sidebar</a></li>
													</ul>
												</li>
												<li><a href="contact.html">Contact Us</a></li> *@
												<li class="@(string.Equals(currentArea, "Customer") && string.Equals(currentController, "Customer") && string.Equals(currentAction, "Contact") ? "active" : "")">
													<a asp-area="Customer" asp-controller="Customer" asp-action="Contact">İletişim</a></li>

												<li class="@(string.Equals(currentArea, "Customer")  && string.Equals(currentController, "Customer") && string.Equals(currentAction, "About") ? "active" : "")">
													<a asp-area="Customer" asp-controller="Customer" asp-action="About">Hakkımızda</a>
												</li>
											</ul>
										</div>
									</div>
								</nav>
								<!--/ End Main Menu -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Header Inner -->
	</header>
	<!--/ End Header -->
	
	<!-- Jquery -->
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.8/datatables.min.js"></script>
	<script src="~/template/js/jquery.min.js"></script>
	<script src="~/template/js/jquery-migrate-3.0.0.js"></script>
	<script src="~/template//jquery-ui.min.js"></script>
	<!-- Popper JS -->
	<script src="~/template/js/popper.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="~/template/js/bootstrap.min.js"></script>
	<!-- Color JS -->
	<script src="~/template/js/colors.js"></script>
	<!-- Slicknav JS -->
	<script src="~/template/js/slicknav.min.js"></script>
	<!-- Owl Carousel JS -->
	<script src="~/template/js/owl-carousel.js"></script>
	<!-- Magnific Popup JS -->
	<script src="~/template/js/magnific-popup.js"></script>
	<!-- Waypoints JS -->
	<script src="~/template/js/waypoints.min.js"></script>
	<!-- Countdown JS -->
	<script src="~/template/js/finalcountdown.min.js"></script>
	<!-- Nice Select JS -->
	<script src="~/template/js/nicesellect.js"></script>
	<!-- Flex Slider JS -->
	<script src="~/template/js/flex-slider.js"></script>
	<!-- ScrollUp JS -->
	<script src="~/template/js/scrollup.js"></script>
	<!-- Onepage Nav JS -->
	<script src="~/template/js/onepage-nav.min.js"></script>
	<!-- Easing JS -->
	<script src="~/template/js/easing.js"></script>
	<!-- Active JS -->
	<script src="~/template/js/active.js"></script>
	
	
</body>

</html>

@RenderBody()
<br />
<footer class="footer">
	<!-- Footer Top -->
	<div class="footer-top section">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-md-6 col-12">
					<!-- Single Widget -->
					<div class="single-footer about">
						<div class="logo">
							<a asp-area="" asp-controller="Customer" asp-action="Index"><img src="~/template/EcoXShopLogo.png" alt="EcoXShop Logo"></a>
						</div>
						<p class="text">EcoX Shop (Ecological Experience-Ekolojik Deneyim), sürdürülebilirlik odaklı outdoor ekipman ve giyim ürünleri sunan bir e-ticaret platformudur. Kamp&doğa yürüyüşü, tırmanma, su sporları, kış sporları, seyahat kategorilerinde geniş bir ürün yelpazesi sunmaktadır.</p>
						<p class="call">Sorularınız için bizi arayın.<span><a href="tel:123456789">+0123 456 789</a></span></p>
					</div>
					<!-- End Single Widget -->
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Single Widget -->
					<div class="single-footer links">
						<h4>Bilgilendirme</h4>
						<ul>
							<li><a asp-area="" asp-controller="Customer" asp-action="About">Hakkımızda</a></li>
							
							<li><a asp-area="" asp-controller="Customer" asp-action="Contact">İletişim</a></li>
							
						</ul>
					</div>
					<!-- End Single Widget -->
				</div>
				@*<div class="col-lg-1 col-md-6 col-12">
					<!-- Single Widget -->
					<div class="single-footer links">
					
					</div>
					<!-- End Single Widget -->
				</div>*@
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Single Widget -->
					<div class="single-footer social">
						<h4>Bize Ulaşın </h4>
						<!-- Single Widget -->
						<div class="contact">
							<ul>
								<li>No. 123, Örnek Caddesi, Örnek Şehir.</li>
								<li>Türkiye</li>
								<li>info@EcoXShop.com</li>
								<li>+90 123 456 789</li>
							</ul>
						</div>
						<!-- End Single Widget -->
						@*<ul>
							<li><a href="#"><i class="ti-facebook"></i></a></li>
							<li><a href="#"><i class="ti-twitter"></i></a></li>
							<li><a href="#"><i class="ti-flickr"></i></a></li>
							<li><a href="#"><i class="ti-instagram"></i></a></li>
						</ul>*@
					</div>
					<!-- End Single Widget -->
				</div>
			</div>
		</div>
	</div>
	<!-- End Footer Top -->
	<div class="copyright">
		<div class="container">
			<div class="inner">
				<div class="row">
					<div class="col-lg-6 col-12">
						<div class="left">
							<p>Copyright © 2024 <a href="#" target="_blank">EcoXShop</a>  -  Tüm Hakları Saklıdır.</p>
						</div>
					</div>
					<div class="col-lg-6 col-12">
						<div class="right">
							
							@*<img src="template/images/payments.png" alt="#">*@
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>